.testimonials {
    display: flex;
    gap: 5px;
    padding: 3rem;
    background-color: var(--dark-green);
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.section-left-heading {
    font-family: var(--font-heading);
    font-size: 1.7rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
    width: 100%;
    color: white;
}

.section-left,
.section-right {
    margin: 1rem;
}

.section-left {
    width: 25%;
    padding: 1rem;
}

.section-left-p1,
.section-left-p2 {
    font-family: var(--font-heading);
    font-size: 0.88rem;
    margin-top: 0.5rem;
    color: white;
}

.section-right {
    width: 54%;
    height: 100%;
}

.swiper {
    width: 100%;
    height: 100%;
}

.pagination-swiper {
    text-align: center;
    font-size: 18px;
    background: #fff;
    background-color: #0c4b42;
    display: flex;
    align-items: center;
}

.pagination-swiper>img {
    display: block;
    width: 450px;
    height: 450px;
    object-fit: cover;
}

.pagination-detail {
    display: flex;
    flex-direction: column;
    height: 100%;

}

.persona-name {
    font-family: var(--font-heading);
    color: white;
}

.review {
    font-family: var(--font-heading);
    font-size: 15px;
    padding: 2.5rem;
    color: white;
    font-style: italic;
}

.country {
    font-family: var(--font-heading);
    color: white;
    font-size: 14px;
}

/* For the active bullet */
.mySwiper .swiper-pagination-bullet-active {
    background-color: var(--yellow) !important;
}

@media screen and (max-width:426px) {
    .testimonials{
        flex-direction: column;
        padding: 1rem;
    }

    .section-left{
        width: 100%;
        margin: 0rem;
    }

    .section-right{
        width: 100%;
        height: 100%;
    }
    .pagination-swiper{
        display: flex;
        flex-direction: column;
        background-color: var(--dark-green);
        background-size: contain;
    }
    .pagination-swiper > img {
        width: 375px;
        height: 450px;
    }

    .pagination-detail{
        margin-bottom: 3rem;
    }
    .section-left-heading {
        margin-top: 2rem;
    }
}